.footer {
  background-color: #131413;
  color: #9199a1;
  margin-top: 200px;
}
.icon {
  width: 100%;
  max-width: 30px;
  border: none;
}

.f-list {
  font-size: 14px;
  padding: 0 24px 32px;
  text-align: center;
}

.f-list li {
  text-align: center;
  color: khaki;
}
.f-list p {
  font-size: 18px;
  margin-left: 20px;
}
